deleteFile-WH.json
{
    "name": "JANUS-borrar-doc",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": ":tenant_id/documents/delete",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [4800, 1520],
        "id": "03e7b132-2693-4b44-a962-727049c26e4b",
        "name": "Webhook",
        "webhookId": "5faec44a-cbe1-46bf-b48d-a161ea91c48f"
      },
      {
        "parameters": {
          "functionCode": "// Verificar que tenemos los datos necesarios\nif (!$input.item.json.body || !$input.item.json.body.filename || !$input.item.json.body.tenant_id) {\n  return {\n    json: {\n      error: 'Missing required fields: filename and tenant_id',\n      received: $input.item.json\n    }\n  };\n}\n\n// Asegurarse de que filename es una cadena\nconst filename = String($input.item.json.body.filename);\nconst tenant_id = String($input.item.json.body.tenant_id);\n\nreturn {\n  json: {\n    body: $input.item.json.body,\n    filename_for_hash: filename,\n    tenant_id: tenant_id\n  }\n};"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [5020, 1620],
        "id": "07715b13-a17d-4b51-9727-ccf166d15029",
        "name": "Validate Input"
      },
      {
        "parameters": {
          "value": "={{ $json.filename_for_hash }}",
          "dataPropertyName": "file_id"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [5240, 1500],
        "id": "319a7607-9731-4029-840b-7fe1ac8ec3e3",
        "name": "Crypto"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://host.docker.internal:6333/collections/{{ $json.tenant_id }}/points/delete",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.file_id\",\n        \"match\": {\n          \"value\": \"{{ $json.file_id }}\"\n        }\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [5460, 1620],
        "id": "ae6a4ba2-34cd-46fa-aaad-a7dbaad3332b",
        "name": "Delete from Qdrant"
      },
      {
        "parameters": {
          "functionCode": "// Procesar la respuesta de Qdrant\nconst qdrantResponse = $input.item.json;\n\nreturn {\n  json: {\n    success: qdrantResponse.status === \"ok\",\n    message: qdrantResponse.status === \"ok\" ? \"Document deleted successfully\" : \"Error deleting document\",\n    file_id: $input.first().json.file_id,\n    tenant_id: $input.first().json.tenant_id,\n    qdrant_response: qdrantResponse\n  }\n};"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [5660, 1500],
        "id": "54982c0c-07d9-4585-a046-5169e6f120ec",
        "name": "Process Response"
      },
      {
        "parameters": {
          "responseMode": "lastNode",
          "responseData": "allEntries"
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [5900, 1500],
        "id": "f5eaeffc-32a1-4ac9-bef1-75e1c2ce2be7",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Crypto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crypto": {
        "main": [
          [
            {
              "node": "Delete from Qdrant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete from Qdrant": {
        "main": [
          [
            {
              "node": "Process Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "updated-with-respond-to-webhook",
    "meta": {
      "instanceId": "9d8eedd20651fb5c33165dc8591bab2eaa34bf258cbb03768c9a2348334809d1"
    },
    "id": "BU7XgG69TNus8MUl",
    "tags": []
  }  